# This file is an example of the environment variables needed for the TDS Bookmark Manager API.
# Copy this file to .env or .env.development and fill in the required values.

## Database configuration variables
# Choose your database type and set the corresponding variables.
# For SQLite:
DB_TYPE=sqlite
SQLITE_DB=apps/backend/tds-bookmark-manager-api/tdb-bookmark-manager.sqlite

# For postgres:
#DB_TYPE=postgres
#DB_HOST=localhost
#DB_PORT=5432
#POSTGRES_USER=tdspostgres
#POSTGRES_PASSWORD=tdsbmpassword
#POSTGRES_DB=tds_bookmark_manager

## Admin user configuration variables
# Set the admin user credentials for the bookmark manager.
ADMIN_EMAIL=david@thedavestack.com
ADMIN_PASSWORD=TuContraseñaSuperSegura
ADMIN_FIRST_NAME=David
ADMIN_LAST_NAME=TheStack
ADMIN_USERNAME=daveadmin