DB_TYPE=sqlite

# Or postgres:
# DB_TYPE=postgres
# DB_HOST=localhost
# DB_PORT=5432
# DB_USERNAME=tu_usuario
# DB_PASSWORD=tu_contraseña
# DB_DATABASE=tds_bookmarks

# Admin seeder variables
ADMIN_EMAIL=david@thedavestack.com
ADMIN_PASSWORD=TuContraseñaSuperSegura
ADMIN_FIRST_NAME=David
ADMIN_LAST_NAME=TheStack
ADMIN_USERNAME=daveadmin