# This file is an example of the environment variables needed for the TDS Bookmark Manager Platform.
# Copy this file to .env and fill in the required values.
# These variables will be automatically picked up by docker-compose

# UI
## Set to 'true' to use the mock API, 'false' to use the real backend.
VITE_USE_MOCK_API=true
API_URL=http://localhost:3000/api/v1

# API
APP_HOST=localhost
APP_PORT=3000
APP_PROTOCOL=http
APP_NAME="TDS Bookmark Manager API"
GLOBAL_RATE_LIMIT_TTL=60000
GLOBAL_RATE_LIMIT_LIMIT=100
## JWT Configuration for the API
JWT_SECRET=a-different-secret-for-jwt
JWT_EXPIRES_IN=1h

# Email Configuration (for password reset)
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USER=tu_usuario_de_mailtrap
EMAIL_PASS=tu_password_de_mailtrap
EMAIL_FROM=no-reply@thedavestack.com

# Database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=testuser
POSTGRES_PASSWORD=testpassword
POSTGRES_DB=tds_bookmarks_db